@import "./fichier1.scss";
@import "./fichier2.scss";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;}

.section1{
    text-align: center;
    @include tab(){
        display: grid;
        grid-template-columns: 1fr 1fr;
    };
    @include desktop(){
        font-size: 170%;
    }
    &___illustration{
        padding: 1rem 4rem;
        @include tab(){
            padding: 0px;
        }
        img{
            width: 100%;
            @include tab(){
                align-self: center;
                grid-column: 1/2;
            }
        }
    }
   &__part2{
       align-self: center;
            h3{
            padding: .5rem 4.5rem;
            color: $color1;
            @include tab(){
                padding: .4rem;
                line-height: 60px;

            }
        }
        img{
            @include tab(){
                width: 8%;
            }
        }
        p{
            font-size: .8rem;
            font-weight: bold;
            color: $color3;
            padding: 1rem;
            @include desktop(){
                font-size: 103%;
            }
        }
        a{
            @include button2();
            padding: 0 3rem;
            width: 70%;
            @include desktop(){
                font-size: 120%;
            }

        }
    }
    .headline{
        max-width: 520px;
        display: flex;
        margin: 2.5rem auto;
        align-items: center;
        
        .circle1{
            width: 32px;
            height: 32px;
            background-color: #88B7D3;
            border-radius: 50%;
            z-index: -1;
            position: relative;
            left: 1.5rem;
            transition-duration: 0.5s;
            
        }
        .circle2{
            width: 16px;
            height: 16px;
            background-color: $color2;
            border-radius: 50%;
            transition-duration: 0.3s;
            

        }
        .line{
            margin: 0 2px;
            border-radius: 30%;
            width: 35vw;
            max-width: 200px;
            height: 5px;
            background-color: #026534;
            z-index: -2;

        }
    }
}