@import "./fichier1.scss";
@import "./fichier2.scss";
@import "./header.scss";
@import "./warning.scss";
@import "./symptôme.scss";
@import "./recommandation.scss";
@import "./footer.scss";




.test{
    text-align: center;
    &__paging{
        display: grid;
        // justify-content: space-between;
        grid-template-columns: 1fr 1fr 1fr;
        align-self: center;
        margin: 2rem auto;  
        width: 90%;
        max-width: 960px;
        // @include tab{
        //     margin: 2rem auto 0 -5%;
        // }
      
        
        h2{
            font-size: 1rem;
            transform: scale(0.8);

        }

        h2::after{
            content: '';
            width: 16px;
            height: 16px;
            background-color: $color6;
            position: relative;
            left: 45%;
            // top: 10%;
            display: flex;
            border-radius: 50%;
            transition-duration: 0.3s;
            margin-bottom: 1.5rem;

        }
        
        #info{
            transform: scale(1.2);
            &::after{
                transform: scale(0.7);
                background-color: $color2;
                border: .7rem solid $color4;
            
        }
     }

       
    }
    &__progress{
        display: flex;
        align-items: center;
        background-color: rgb(241, 239, 239);
        width: 90%;
        max-width: 960px;

        height: 1.5rem;
        border-radius: 10px 10px 0 0;
        margin: 1rem auto 0;
        padding: .5rem;
        #prog{
            margin: .2rem  .3rem;
            background-color: $color6;
            opacity: 0.7;
            height: .5rem;
            border-radius: 20px;
            box-shadow: 0px 2px 5px black;
        }
    }
    &__para{
        padding: 1rem;
        background-color: #96C5DC;
        margin: 0 auto;
        width: 90%;
        max-width: 960px;
        border-radius: 0 0 10px 10px;
        h3{
            color: $color6;
            margin: 2rem;
        }
        hr{
            background-color: $color2;
            height: 3px;
            width: 50%;
            margin: .5rem auto;
            border: none;
        }
        
    }
    .answer{
        display: flex;
        flex-wrap: wrap;
        max-width: 600px;
        justify-content: space-around;
        margin: 2rem auto;
        input[type="radio"]{
            visibility: hidden;
        }
        input[type="radio"]:checked~label{
            
                background-color: $color1;
                color: $white;
                border: 1px solid $white;
            
        }
        
        span{
            width: 60%;
            background-color:  rgb(241, 239, 239);
            input[type="number"]{
                width: 90%;
            }
        }
        label{
            background-color: $white;
            border: 1px solid $color6;
            border-radius: 10px;
            padding: .5rem 1rem;
            margin-left: 2rem;
            height: 3.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-width: 100px;
           svg{
               margin-top: .5rem;
           }
        }
    }
    &__buttons{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        width: 90%;
        max-width: 960px;
        margin: 1rem auto;

        button{
            @include button2();
        padding: .5rem;
        width: 30%;
        margin: 0;
        max-width: 200px;
        }
        
    }
}